<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Is It Private?</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Florian Fittschen. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>FFBundleMainDeveloperName</key>
	<string>Florian Fittschen</string>
	<key>FFBundleMainDeveloperWebsite</key>
	<string>https://twitter.com/flofi</string>
	<key>FFBundleRepositoryName</key>
	<string>ffittschen/isitprivate</string>
	<key>FFBundleRepositoryWebsite</key>
	<string>https://github.com/ffittschen/isitprivate</string>
	<key>FFBundleMaskIconCreatorWebsite</key>
	<string>https://thenounproject.com/bfarias</string>
	<key>FFBundleCompassIconCreatorWebsite</key>
	<string>https://thenounproject.com/xinhstudio</string>
	<key>FFBundleLicenseName</key>
	<string>BSD</string>
</dict>
</plist>
